{% extends 'base.html' %}
{% block title %}Confirm Sale{% endblock %}
{% block content %}

<h2>Confirm Sale by Stock ID</h2>
<p class="text-muted">Enter the Stock ID and quantity.</p>

<form method="post" class="mb-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success">Confirm Sale</button>
</form>

<a href="{% url 'stock_list' %}" class="btn btn-secondary">Back to Stock</a>

{% if messages %}
  <ul>
    {% for message in messages %}
      <li style="color: {{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}