{% extends 'base.html' %}
{% block title %}Sales List{% endblock %}
{% block content %}
<a class="btn btn-primary mb-3" href="{% url 'stock_list' %}">← Back to Stock List</a>
<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
        <th>Stock</th>
        <th>Quantity Sold</th>
        <th>Sale Price</th>
        <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for sale in sales %}
    <tr>
        <td>{{ sale.stock.name }}</td>
        <td>{{ sale.quantity_sold }}</td>
        <td>{{ sale.sale_price }}</td>
        <td>{{ sale.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}