{% extends 'base.html' %}
{% block title %}Stock List{% endblock %}
{% block content %}


<h2>Stock List</h2>
<a class="btn btn-primary mb-3" href="{% url 'stock_add' %}" >Add New Stock</a>
<p><a class="btn btn-primary mb-3" href="{% url 'sale_list' %}">Go to Sales History</a></p>
<p><a class="btn btn-primary mb-3" href="{% url 'sales_summary' %}">View Profit Report</a></p>
<p><a class="btn btn-primary mb-3" href="{% url 'sale_confirm' %}">Confirm a Sale</a></p>
<a class="btn btn-primary mb-3" href="{% url 'logout' %}">Logout</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Reorder Level</th>
    <th>Status</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
    <tr>
    <td>{{ stock.id }}</td>
    <td>{{ stock.name }}</td>
    <td>{{ stock.quantity }}</td>
    <td>{{ stock.price }}</td>
    <td>{{ stock.reorder_level }}</td>
    <td>
        {% if stock.quantity <= stock.reorder_level %}
            <span class="badge bg-danger">Low Stock</span>
        {% else %}
            <span class="badge bg-success">OK</span>
        {% endif %}
    </td>
    <td>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'stock_edit' stock.id %}">Edit</a> |
        <a class="btn btn-sm btn-outline-danger" href="{% url 'stock_delete' stock.id %}">Delete</a>
    </td>
</tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}